<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/v3/head")%>
</head>

<body>
  <%- include("../partials/v3/navbar")%>
  <!-- Body Content -->
  <%- include("../scripts/defaultScripts")%>

</body>

</html>