::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(21, 94, 77, 1);
}

::-webkit-scrollbar-corner {
	background: transparent;
}

body {
	background: transparent;
	color: #ddd;
	font-family: "Roboto Mono", sans serif;
}

.tbl-info {
	display: flex;
	justify-content: center;
}
.tbl-info img {
	width: 1rem;
	height: 1rem;
}
