<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>GrapeOS</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Code:400,500,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,500,700">
  <link rel="stylesheet" href="/css/file_style.css">
</head>

<body>
  <div class="file_page">
    <h1>Hello,</h1>
    <h3>You have reached the development portal for mglk.tech.</h3>
    <h5> </h5>
    <p>This site is still being worked on, which means large parts of the site are not operational at this time.
      Please check back in a few days. Or if you have any queries, contact us at support@mglk.tech</p>
  </div>
</body>

</html>