<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/markdown.css">
</head>

<body>
    <div class="container-flex" style=" display: block; width: 100%; height: 20%;">
        <img src="/img/tech/image4.jpg">
    </div>
    <div class="container">
        <%-article%>
    </div>

</body>

</html>