<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>File Manager Template | PrepBootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/assets/fm/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/fm/font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="/assets/fm/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/assets/fm/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>



<!-- File Manager - START -->

<div class="container flex">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-default pb-filemng-navbar">
                <div class="container-fluid">
                    <!-- Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="pull-left navbar-toggle collapsed treeview-toggle-btn" data-toggle="collapse" data-target="#treeview-toggle" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#options" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-gears"></span>
                        </button> -->

                        <!-- Search button -->
                        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pb-filemng-navigation" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-share"></span>
                        </button> -->
                    </div>

                    <ul class="collapse navbar-collapse nav navbar-nav navbar-right"id="options">
                        <!-- <li><a href="#"><span class="fa fa-crosshairs fa-lg"></span></a></li>
                        <li><a href="#"><span class="fa fa-ellipsis-v fa-lg"></span></a></li>
                        <li><a href="#"><span class="fa fa-lg fa-server"></span></a></li>
                        <li><a href="#"><span class="fa fa-lg fa-minus"></span></a></li>
                        <li><a href="#"><span class="fa fa-lg fa-window-maximize"></span></a></li>
                        <li><a href="#"><span class="fa fa-lg fa-times"></span></a></li> -->
                    </ul>


                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="pb-filemng-navigation">
                        <ul class="nav navbar-nav">
                            <!-- <li><a href="#"><span class="fa fa-chevron-left fa-lg"></span></a></li>
                            <li><a href="#"><span class="fa fa-chevron-right fa-lg"></span></a></li>
                            <li class="pb-filemng-active"><a href="#"><span class="fa fa-file fa-lg"></span></a></li> -->
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->

                </div>
                <!-- /.container-fluid -->
            </nav>
            <div class="panel panel-default">
                <div class="panel-body pb-filemng-panel-body">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 pb-filemng-template-treeview">
                            <div class="collapse navbar-collapse" id="treeview-toggle">
                                <div id="treeview">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 pb-filemng-template-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<style>
    .navbar {
        min-height: 0px;
    }
    .pb-filemng-template {
	    margin-top: 40px;
	    font-family: 'Sansita', sans-serif;
    }

    .pb-filemng-navbar {
	    margin-bottom: 0;
    }

    .treeview-toggle-btn {
	    margin-left: 15px;
    }

    .pb-filemng-template-btn {
        
	    background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        outline:none;
        color: gray;
        padding: 0px 13px 0px 13px;
    }

    .pb-filemng-active {
	    border-bottom: 2px solid #6d97db;
	    color: #5f6977;
        
    }

    .pb-filemng-template-btn:hover {
	    color: blue;
    }

    .pb-filemng-body-folders > img:hover {
	    cursor: pointer;
    }

    .btn-align {
	    margin-top: 7px;
    }

    .pb-filemng-template-treeview {
	    border-right: 1px solid gray;
    }

    .pb-filemng-folder {
	    color: purple;
	    padding-bottom: 3px;
    }

    .pb-filemng-paragraphs {
	    margin-top: -20px;
	    text-align: center;
    }

    .img-responsive {
	    margin: 0 auto;
    }

@media screen and (max-width: 767px) {

	.pb-filemng-template-treeview {
		border-right: none;
	}

	#options {
		text-align: center;
	}

	#options > li {
		display: inline-block;
	}

	#pb-filemng-navigation > ul {
		text-align: center;
	}

	#pb-filemng-navigation > ul > li {
		display: inline-block;
	}

}
</style>

<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<!-- <script type="text/javascript" src="http://www.prepbootstrap.com/Content/data/fileManagerData.js"></script> -->

<script>
    var dataSrc = [
	// {
    //     "text": "Recent", 
    //     "iconCls": "fa fa-history"
    // },
    {
        "text": "Home",
        "url":"./home", 
        "iconCls": "fa fa-home"
    },
    {
        "text": "Documents",
        "iconCls": "fa fa-file-text",
        "items": [
            {
                "text": "My Web Sites",
                "iconCls": "fa fa-folder"
            }
        ]
    },
    {
        "text": "Pictures",
        "iconCls": "fa fa-picture-o",
        "items": [
            {
                "text": "Camera Roll",
                "iconCls": "fa fa-folder"
            },
            {
                "text": "Saved Pictures",
                "iconCls": "fa fa-folder"
            }
        ]
    },
    {
        "text": "Music",
        "iconCls": "fa fa-music"
    },
    {
        "text": "Downloads",
        "iconCls": "fa fa-arrow-down"
    },
    {
        "text": "Video",
        "iconCls": "fa fa-film",
        "items": [
            {
                "text": "Captures",
                "iconCls": "fa fa-folder"
            }
        ]
    },
    {
        "text": "Recycle bin",
        "iconCls": "fa fa-trash-o"
    },
    {
        "text": "RandomUser",
        "iconCls": "fa fa-user",
        "cls": "custom"
    },
    {
        "text": "Torrents",
        "iconCls": "fa fa-folder"
    },
    {
        "text": "Lorem Ipsum",
        "iconCls": "fa fa-folder"
    },
]

var folderData = 
[
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "bin"
    },
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "boot"
    },
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "cdrom"
    },
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "dev"
    },
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "etc"
    },
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "home"
    },
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "lib32"
    },
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "lib64"
    },
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "system32"
    },
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "run"
    },
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "sbin"
    }, 
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "temp"
    },
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "opt"
    },
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "media"
    },
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "initrd.img"
    },
    {
        "icon": "<img class=\"img-responsive\" src=\"/assets/fm/images/folder.png\">",
        "text": "vm.exe"
    },
];
    $(function () {
        $("#treeview").shieldTreeView({
            dataSource: dataSrc,
            hrefTemplate: "{url}"
        });

        for (var key in folderData) {
            $(".pb-filemng-template-body").append(
                '<a class=\"col-xs-6 col-sm-6 col-md-3 pb-filemng-body-folders\" href=\"#\">' +
                folderData[key].icon + '<br />' + 
                '<p class="pb-filemng-paragraphs">' + folderData[key].text + '</p>' + 
                '</a>'
            );
        }
    })
</script>
<!-- File Manager - END -->

</div>

</body>
</html>