<nav class="navbar navbar-dark navbar-expand-lg fixed-top portfolio-navbar">
        <div class="container"><a class="navbar-brand logo" href="/" style="color: rgb(249,249,249);border-bottom: 0.1rem solid rgba(249,249,249,0.67);font-family: Oswald, sans-serif;">M.KENDALL</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/firespinning">Firespinning</a></li>
                    <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                </ul><span class="navbar-text"></span>
            </div>
        </div>
    </nav>
