
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>GrapeOS</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Code:400,500,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,500,700">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/css/winbox.css">
</head>

<body>
  <p class="text-center p-2" style="position: fixed;top: 50px;right: 10px;color: rgb(200,200,200,0.3);border: 1px solid rgb(200,200,200,0.3);">[WARNING]<br>Site still in development<br>Expect errors!</p>
  <div class="desktop-center"><img src="/assets/img/Emoji.svg" width="100px" height="100px"><span
      class="sp-subbrand">Powered By</span><span class="sp-brand">&lt;grapeOS/&gt;</span></div>
  <div class="desktop-icons">
    <div class="div-icon" hidden id="filemanager"><img src="/assets/img/vs_profile.svg"><span>Files</span></div>
    
    <div class="div-icon" id="hl-status"><img src="/assets/img/ion_diamond-sharp.svg"><span>HighLife Status</span></div>
    <div class="div-icon" id="hl-drag-times"><img src="/assets/img/ion_diamond-sharp.svg"><span class="text-nowrap">#live-drag-times</span></div>
    <div class="div-icon" hidden id="r2rrp-status"><img src="/assets/img/Emoji%20(1).svg"><span>Rags2RichesRP Status</span></div>
      <div class="div-icon" hidden id="mdfile"><img src="/assets/img/vs_profile.svg"><span>test.md</span></div>
    </div>
    <div class="div-icon" hidden id="test"><img
        src="/assets/img/ant-design_instagram-outlined.svg"><span>Instagram</span></div>
  </div>
  <div class="navbar-bottom"><img class="taskbar-start" src="/assets/img/Emoji%20(1).svg">
    <div class="taskbar-right align-items-center"><div id="spotify"><img id="spotify" src="/assets/img/akar-icons_spotify-fill.svg"></div><a href="/auth/login"
        id="login"><img src="/assets/img/vs_profile.svg"></a>
      <div class="taskbar-timedate"><span id="time"></span><span id="date"></span></div>
    </div>
  </div>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/winbox.bundle.js"></script>
  <script src="/js/main.js"></script>
  <script>
    
    
  </script>
</body>

</html>