<!DOCTYPE html>
<html>
<%-include ("../partials/head.ejs") %>

<body>
    <%-include ("../partials/nav.ejs");%>
    <main class="page">
    <!-- Page Body -->
        <section class="w3-animate-right index-hero-full">
            <div class="d-inline-block index_hero w3-animate-left" style="animation-duration: 1s;">
                <div><span class="span-index-main" style="border-left-color: var(--bs-purple);">Hello,&nbsp;</span><span class="span-index-sub">I'm&nbsp;</span></div>
                <div><span class="span-index-sub">Mike</span></div>
            </div>
        </section>
        <section class="w3-animate-bottom" style="animation-duration: 1s;/*animation-delay: 1s;*/">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="photo-responsive" style="background: url(&quot;https://i.imgur.com/ofM4yHW.jpeg&quot;) center / cover;"></div>
                    </div>
                    <div class="col">
                        <div class="section-info" style="border-left-color: var(--bs-purple);">
                            <div class="p-2">
                                <h6>I am a...</h6>
                                <h1>Software Developer</h1>
                            </div>
                            <hr class="hr-purple">
                            <div class="p-2">
                                <p>I created this website to showcase my ideas, and for use as a test bench for personal projects.&nbsp;</p><a class="btn btn-dark" role="button" href="/projects">View Projects</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="w3-animate-bottom" style="animation-duration: 1.5s;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="photo-responsive" style="background: url(&quot;assets/img/41430465_10157001173593570_3181740501913042944_n_vignette.jpg&quot;) center / cover;"></div>
                    </div>
                    <div class="col">
                        <div class="section-info">
                            <div class="p-2">
                                <h6>I am a...</h6>
                                <h1>Fire Performer</h1>
                            </div>
                            <hr class="hr-purple">
                            <div class="p-2">
                                <p>Briefly Photogenic</p><a class="btn btn-dark disabled" role="button" href="/firespinning">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <%-include ("../partials/foot.ejs") %>
    <%-include ("../partials/scripts.ejs")%>
</body>
<script>

</script>
</html>