body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2rem;
  color: #d5d5d5;
  background: black;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.page-footer {
  background: rgba(0,0,0,0.8);
  padding-top: 35px;
  text-align: center;
  border-top: 0px solid #000000;
  padding-bottom: 20px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.1em;
}

h1 {
}

p {
  margin-top: 0em;
  margin-bottom: 1em;
  letter-spacing: 1px;
}

section {
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.article-content {
}

.project-card .tags a {
  color: #979797;
}

.project-card .tags {
  text-transform: uppercase;
  float: right;
  font-size: .75em;
  margin-top: 7px;
}

.project-card {
  padding: 35px;
  border-top: 4px solid var(--bs-purple);
  margin-bottom: 30px;
  background: rgb(37,31,47);
  box-shadow: 0px 0px 17px rgb(18,18,18);
}

h4, .project-card .h4 {
  font-size: 1em;
  opacity: .6;
  margin-bottom: 20px;
}

.project-card h3, .project-card .h3 {
  font-size: 1.3em;
  margin-bottom: 20px;
}

.page-footer a {
  display: inline-block;
  margin: 0px 10px;
  color: #cfcfcf;
  font-size: 18px;
}

.portfolio-navbar.navbar {
  box-shadow: 0 4px 10px rgba(0,0,0,0);
  background: rgba(0,0,0,0.8);
}

.login-clean form {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  background-color: #31263a;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 10px 9px rgba(0,0,0,0.34);
}

.login-clean {
  background: rgba(34,34,34,0);
  padding: 80px 0;
}

.login-clean .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
  color: rgb(137,71,244);
}

.login-clean form .btn-primary:active {
  transform: translateY(1px);
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background: #8947f4;
}

.login-clean form .btn-primary {
  background: #3a2a67;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
}

form a {
  color: #9d6fff;
  text-decoration: underline;
}

form a:hover {
  color: #ffffff;
}

.hero-sub {
  color: rgba(213,213,213,0.67);
  font-family: Oswald, sans-serif;
  letter-spacing: 2px;
}

.hero-head {
  font-family: Oswald, sans-serif;
  letter-spacing: 10px;
}

.hero-p {
  max-width: 40rem;
  color: rgba(213,213,213,0.31);
  font-family: Oswald, sans-serif;
  letter-spacing: 2px;
  line-height: 27.2px;
}

@media (min-width: 576px) {
  .portfolio-navbar.fixed-top + .page {
    padding-top: 5.5rem;
  }
}

.portfolio-navbar.fixed-top + .page {
  padding-top: 62px;
}

.span-index-sub {
  text-shadow: 0px 0px 3px #000000;
}

.span-index-main {
  color: #8447e7;
  font-size: 7vw;
  text-shadow: 0px 0px 3px #000000;
}

.index_hero {
  position: absolute;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  z-index: 100;
  margin-top: 20%;
  margin-left: 13%;
  max-width: 25vw;
  font-size: 6vw;
  line-height: 6vw;
}

section .container {
  max-width: 50rem;
}

@media (min-width: 300px) {
  .col {
    padding-top: calc(var(--bs-gutter-x) / 4);
    padding-bottom: calc(var(--bs-gutter-x) / 4);
  }
}

.photo-responsive {
  min-width: 300px;
  min-height: 100px;
  height: 100%;
  /*box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.73), inset 0px 0px 20px 9px rgba(0,0,0,0.18);*/
  border-left: 3px solid var(--bs-purple) ;
}

.col {
  margin: 0;
  padding: 0;
}

.section-info {
  border-left-style: solid;
  border-left-color: var(--bs-purple);
}

.hr-purple {
  width: 100%;
  opacity: 1;
  color: var(--bs-purple);
  opacity: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

hr:not([size]) {
  height: 3px;
}

