@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}
	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

a,
a:visited {
	color: #3498db;
}

a:hover,
a:focus,
a:active {
	color: #2980b9;
}

.modest-no-decoration {
	text-decoration: none;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
	html {
		font-size: 15px;
	}
}

@media screen and (min-width: 48rem) {
	html {
		font-size: 16px;
	}
}

p,
.modest-p {
	font-size: 1rem;
}

h1,
.modest-h1,
h2,
.modest-h2,
h3,
.modest-h3,
h4,
.modest-h4 {
	font-weight: inherit;
	letter-spacing: -1px;
	line-height: 1.2;
}

h1,
.modest-h1 {
	margin-top: 0;
	font-size: 3.998rem;
}

h2,
.modest-h2 {
	font-size: 2.827rem;
}

h3,
.modest-h3 {
	font-size: 1.999rem;
}

h4,
.modest-h4 {
	font-size: 1.414rem;
}

h5,
.modest-h5 {
	font-size: 1.121rem;
}

h6,
.modest-h6 {
	font-size: 0.88rem;
}

small,
.modest-small {
	font-size: 0.707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
	max-width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

@import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);

@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

.article-content {
	padding: 0;
	box-shadow: 1px 1px 10px 9px rgba(0, 0, 0, 0.34);
	border-radius: 10px;
	margin: 0 auto;
	max-width: 48rem;
	line-height: 1.1;
	background: white;
	color: #444;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 300;
}
.article-content p {
	font-size: 1em;
	letter-spacing: 0;
	padding-left: 1em;
	padding-right: 1em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

h1,
h2,
h3 {
	margin: 0.5em;
	text-align: center;
}

h4,
h5,
h6 {
	margin: 1em;
}
h6 {
	text-align: right;
}

.hljs-keyword {
	color: #c792ea;
}
.hljs-string {
	color: #c3dc69;
}

blockquote {
	page-break-inside: avoid;
	padding: 1rem;
}
pre {
	overflow-x: scroll;
	padding: 1rem;
}
pre,
code {
	letter-spacing: -1px;
	line-height: 1.4;
	margin: 1rem;
	font-family: "Fira Code", monospace;
	font-weight: 400;
	background-color: #263238;
	color: #ffffff;
}
strong {
	font-weight: bold;
}
table {
	margin: 0 1em 5em;
}
table tr {
	border-top: 1px solid #cccccc;
	background-color: white;
	margin: 0;
	padding: 0;
}

table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

table tr th {
	font-weight: bold;
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

table tr td {
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

table tr th :first-child,
table tr td :first-child {
	margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
	margin-bottom: 0;
}
