body {
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #000000;
	background: linear-gradient(90deg, rgba(38, 21, 67, 1), rgba(21, 94, 77, 1));
	-webkit-tap-highlight-color: transparent;
}

header.masthead {
	position: relative;
	overflow: hidden;
	padding-top: 7rem;
	padding-bottom: 7rem;
	background: linear-gradient(0deg, #261543 0%, var(--bs-green) 100%);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
}

header.masthead .masthead-content {
	z-index: 1;
	position: relative;
}

header.masthead .masthead-content .masthead-heading {
	font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
	font-size: 2rem;
}

@media (min-width: 992px) {
	header.masthead {
		padding-top: calc(10rem + 55px);
		padding-bottom: 10rem;
	}
}

header.masthead .bg-circle {
	z-index: 0;
	position: absolute;
	border-radius: 100%;
	background: linear-gradient(180deg, #4e2d89, #261543);
}

header.masthead .bg-circle-1 {
	height: 90rem;
	width: 90rem;
	bottom: -55rem;
	left: -55rem;
}

header.masthead .bg-circle-2 {
	height: 50rem;
	width: 50rem;
	top: -25rem;
	right: -25rem;
}

header.masthead .bg-circle-3 {
	height: 20rem;
	width: 20rem;
	bottom: -10rem;
	right: 5%;
}

header.masthead .bg-circle-4 {
	height: 30rem;
	width: 30rem;
	top: -5rem;
	right: 35%;
}
.bg-black {
	background: #000000;
}

.display-4 {
	font-size: calc(1.475rem + 2.7vw);
	font-weight: 300;
	line-height: 1.2;
}

.desktop-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: -99;
}

.sp-brand {
	font-size: 32px;
	font-family: "Fira Code", monospace;
	font-weight: bold;
	line-height: 22px;
	color: rgba(204, 204, 204, 0.7);
}

.sp-subbrand {
	font-family: "Fira Code", monospace;
	color: rgb(204, 204, 204, 0.7);
}

.desktop-icons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 20px;
	max-width: 20vw;
}

/* .div-icon {
	display: flex;
	padding: 5%;
	width: 100px;
	height: 100px;
	flex-direction: column;
	align-items: center;
} */

.navbar-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	bottom: 0px;
	background: rgb(0, 0, 0, 0.5);
	width: 100%;
}

.taskbar-timedate {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 15px;
}

.taskbar-right {
	display: flex;
	flex-direction: row;
	margin-right: 10px;
}

.taskbar-start {
	width: 50px;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateY(50%);
}

.form-row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 50%;
	padding-top: 5px;
	padding-bottom: 10px;
}

a {
	color: #6c757d;
	/* text-decoration: none; */
}

a:hover {
	color: var(--bs-purple);
}

.primary {
	color: #6f42c1;
}

.shortcut-text {
	color: white;
	font-size: 14px;
	line-height: 16px;
	width: 75px;
}

.shortcut-icon {
	font-size: 3.5rem;
	height: 4rem;
	width: 4rem;
}

.shortcut-container {
	cursor: pointer;
}
