<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs")%>
</head>


<body class="text-white" style="background: var(--bs-dark);">
    <header class="text-center text-white masthead">
        <div class="d-inline-flex flex-column masthead-content"
            style="background: rgba(11,11,11,0.70);border-radius: 10px;box-shadow: 5px 5px 12px 2px rgb(25,25,25);">
            <div class="container p-2">
                <h1 class="masthead-heading mb-0">Hello,<br>I'm&nbsp;<span class="font-monospace text-white">Mike</span>
                </h1>
                <h2 class="masthead-subheading mb-0 pt-4">I am a</h2>
                <h2 class="font-monospace text-primary masthead-heading mb-0 fw-bold">Full Stack</h2>
                <h2 class="masthead-subheading mb-0">Web Developer.</h2>
                <h6 class="mb-0">(Almost)</h6>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid border border-primary"
                            src="assets/img/about_photo.jpeg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">GrapeOS Creator</h2>
                        <p>My Primary Goal for this site is to provide a cosy little home for my work as a "Web
                            Dev"...<br><br>... which can be accessed from anywhere, at any time, and with any internet
                            device!<br><br>It has always been my life-long dream to get involved with Computer
                            Programming, and to use those skills to build an independent online business.<br><br>GrapeOS
                            has been set out to give you an experience similar to that of a typical Desktop PC, and
                            offers you a flavour of my typical working environment as a computer
                            programmer.<br>&nbsp;<br>mglk.tech has been built using&nbsp;<a class="link-info"
                                href="https://nodejs.org/en/about/" target="_blank">NodeJS</a>,&nbsp;<a
                                class="link-info" href="https://expressjs.com/" target="_blank">Express</a>&nbsp;Web
                            Framework, and&nbsp;<a class="link-info" href="https://www.mongodb.com/cloud/atlas"
                                target="_blank">MongoDB Atlas</a>&nbsp;Databases, as well as&nbsp;<a class="link-info"
                                href="/bin/modules" target="_blank">Tons of smaller modules</a>.<br><br>The entire site
                            has been put together upon years of research and development through many different&nbsp;<a
                                class="link-info" href="/sources" target="_blank">sources</a>. Feel free to check them
                            out!&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background: linear-gradient(rgb(33,37,41) 0%, #261543 53%, rgb(33,37,41) 100%);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid border border-primary"
                            src="assets/img/IMAG0395.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4">Fire Spinner</h2>
                        <p>Did it get hot in here?<br><br>A Great way to keep fit, if not a little dangerous...<br>I
                            have been playing with fire for over a decade as a vocational hobby, and have performed in
                            front of crowds of 1000+ people! I am on the lookout for fellow fire performers, as well as
                            photographers to pursue this hobby professionally!<br>Photographers, hook me up&nbsp;<a
                                class="link-info" href="/contact" target="_blank">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid border border-primary"
                            src="assets/img/FiveM_GTAProcess_wqLfPsnO81.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Roleplay Gamer</h2>
                        <p>Some of my Favourite places to be on the internet are in Customised Dedicated Servers, built
                            upon sandbox versions of existing games.<br><br>Gorgeous George (pictured Left) is a proud
                            member of&nbsp;<a class="link-info" href="https://highliferoleplay.net/"
                                target="_blank">Highlife Roleplay</a>, which is a fully custom role-playing community
                            server built on GTA 5's Sandbox environment,&nbsp;<a class="link-info"
                                href="https://fivem.net/" target="_blank">FiveM</a>.<br><br>Historically, I have been
                            known to frequent a huge range sandbox games and the communities within, with my humble
                            beginnings in&nbsp;<a class="link-info" href="https://secondlife.com/"
                                target="_blank">Second Life</a>&nbsp;way back in 2009.<br>In fact, it was originally
                            through Second Life that I became interested in Coding, using their built-in&nbsp;<a
                                class="link-info" href="http://wiki.secondlife.com/wiki/LSL_Portal"
                                target="_blank">Scripting Language</a>&nbsp;to create, modify and distribute in-game
                            items.<br><br>Oh how times have changed!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>