<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/v3/head")%>
</head>

<body>
  <%- include("../partials/v3/navbar")%>
  <h1>Admin Page</h1>
  <script src="/v3/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>