<!DOCTYPE html>
<html>
<%-include ("../partials/head.ejs") %>

<body>
    <%-include ("../partials/nav.ejs");%>
    <main class="page">
    <!-- Page Body -->
    <section>
        <div class="container text-center p-5">
            <div class="row">
                <div class="col"><i class="far fa-check-circle" style="font-size: 10vw;"></i></div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>You have successfully logged in.</h1>
                </div>
            </div>
            <hr style="color: var(--bs-purple);opacity: 1;">
            <div class="row">
                <div class="col">
                    <h4>Hello World</h4>
                </div>
            </div>
            <div class="row">
                <div class="col"><a class="btn btn-dark" role="button" href="/protected/home">Go Back</a></div>
            </div>
        </div>
    </section>
    </main>
    <%-include ("../partials/foot.ejs") %>
    <%-include ("../partials/scripts.ejs")%>
</body>

</html>