<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/v3/head")%>
</head>

<body>
  <%- include("../partials/v3/navbar")%>
  <div class="container bg-dark border rounded border-secondary shadow p-2 mt-2">
    <div class="row">
      <div class="col d-flex justify-content-center"><span class="fs-1">🍇</span>
        <h1 class="text-center m-2 fw-bold">We're Sorry...</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="lead text-center">You do not have access to this page.</p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center"><a class="btn btn-secondary btn-sm" role="button" href="/auth/discord/logout">Go Back</a></div>
    </div>
  </div>
  <script src="/v3/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>