<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs")%>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-column justify-content-center align-items-center min-vh-100">
                <div class="form-row mb-5"><img src="assets/img/Emoji.svg" width="100" height="100" alt="logo"><span class="sp-brand">&lt;grapeOS/&gt;</span></div><a class="btn btn-primary btn-lg text-light" role="button" href="/auth/discord"><i class="fa fa-user px-2"></i><span>Log in</span></a><span class="p-2 text-light">or</span><a class="btn btn-secondary btn-lg text-light" role="button" href="/home"><i class="fa fa-user px-2"></i><span>Browse as Guest</span></a>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>